{% extends 'index.html' %}

{%block title%}login{% endblock %}
{%block form%}
  <div class="container">
  <form action="/login" method="POST">
    <h1 align="center" >Login</h1>
    <div class="mb-3">
      <label class="form-label"><h4>Username</h4></label>
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <label class="form-label"><h4>Password</h4></label>
      <input type="password" name="password" class="form-control" placeholder="password" required>
    </div>
    <button type="submit" class="btn btn-dark" >Login</button>
  </form>
  </div>
{%endblock%}