{% extends 'base.html' %}
{% block title %}{{user.username}}'s Profile{% endblock %}
{% block form %}
<div class="container">
    <br><br>
    <h2 align="center" >{{user.username}}'s Profile</h2><br>
    <div class="card border-warning shadow-lg p-3 mb-5 bg-light rounded">
        <div class="card border-warning bg-profile">
            <form action="/delete/{{user.id}}" method="POST">
                <div align="right"><a href="/delete/{{user.id}}" class="btn btn-sm btn-primary">Deactivate</a></div>
            </form>
            {% if user.image %}
            <img class="profile-img"  src="{{url_for('static',filename='profile/'+ user.image)}}">
        {% else %}
        <img class="profile-img"  src="{{url_for('static',filename='profile/default.jpg')}}">
        {%endif%}
        <div class="fcontainer">
            <div>
                <p><b>Number of posts</b></p>
                <h5>{{posts|length}}</h5>
            </div>
            <div>
                <p><a href="/{{user.username}}/followers">Followers</a></p>
                <h5>{{user.followers.count()}}</h5>
            </div>
            <div>
                <p><a href="/{{user.username}}/following">Following</a></p>
                <h5>{{user.following.count()}}</h5>
            </div>
        </div>
        </div>
        
        <br>
        <div class="card-text">
        <div class="card border-warning rounded bg-profile">
        <div class="container">
        <br>
        <strong>Name:</strong> {{user.name}} <br>
        <strong>Email:</strong> {{user.email}} <br>
        <strong>DOB:</strong> {{user.dob}} <br>
        <strong>PROFESSION:</strong> {{user.profession}} <br>
        <strong>ABOUT {{user.username}}:</strong> {{user.about_user}} <br><br>
        </div>
        </div>
        <br>
        <a href="{{url_for('updateprofile')}}" class="btn btn-info btn-sm" role="button">Edit Details + profile pic</a>
        </div>
        </div>
        
        <br><br>
        {% for post in posts%}
        <div class="card border-dark shadow p-3 mb-5 bg-body rounded">
        <div class="card-header d-flex justify-content-between align-item-center">
            <div class="card-header"><h5>{{user.username}}</h5></div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</a></li>
                    <li><a href="/posts/update/{{post.post_id}}" class="dropdown-item">Edit</a></li>
                </ul>
            </div>
        </div>
        <div class="card-header">
            <div class="card-text"><b>{{post.title}}</b></div>
        </div>
        <div class="card-body">
            <div class="card-text">{{post.description}}</div>
            <br>
            <br>{%if  post.photo1 and post.photo2 and post.photo3 and post.photo4%}
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo1 )}}">
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo2 )}}">
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo3 )}}">
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo4 )}}">          
            {% elif post.photo1 and post.photo2 and post.photo3 %}
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo1 )}}">
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo2 )}}">
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo3 )}}">
            {% elif post.photo1 and post.photo2%}
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo1 )}}">
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo2 )}}">
            {% elif post.photo1%}
            <img class="post-img" src="{{url_for('static', filename='photos/' + post.photo1 )}}">
            {%endif%}

        </div> 
        <div class="card-footer"><a href="{{url_for('view_post', id=post.post_id)}}" class="btn btn-outline-dark btn-sm">View Blog</a><br><br>
        <small class="text-muted">Posted on: {{post.datetime.strftime('%d-%m-%Y')}}</small></div>
        </div>

        
        <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="DeleteModalLabel">Want to delete post ??</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/posts/delete/{{post.post_id}}" type="submit" class="btn btn-primary">Delete</a>
            </div>
          </div>
        </div>
        </div>
        {%endfor%} 
{% endblock %}