{% extends 'index.html' %}
{% block title %}signup{% endblock %}

{%block form%}
  <div class="container">
  <form action="/signup" method="POST">
    <h1 align="center" >New User</h1>
    <div class="mb-3">
      <label class="form-label"><h4>Username</h4></label>
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <label class="form-label"><h4>Password</h4></label>
      <input type="password" name="password" class="form-control" placeholder="password" required>
    </div>
    <button type="submit" class="btn btn-dark">Sign Up</button>
  </form>
  </div>
{%endblock%}